In [14]:
a = {}
a['ano'] = {}
a['ano']['bno'] = 1
a[2] = {}
a[2][1] = 4

In [15]:
a

{'ano': {'bno': 1}, 2: {1: 4}}

In [12]:
a.get('cno', None).get('bno', None)

AttributeError: 'NoneType' object has no attribute 'get'

## Importing Libraries

In [1]:
import os
os.chdir('/home/shivam13juna/Documents/learn/allRank/')

import re
import pandas as pd
from sklearn.datasets import dump_svmlight_file

pd.options.display.max_columns = 500
pd.options.display.max_rows = 500

## Analyzing txt file

In [45]:
data_loc = 'allrank/pony_data/train.txt'

with open(data_loc, 'r') as handle:
    file = handle.readlines()

In [46]:
file[0]

'1 qid:1 0:3 1:56 2:462 3:1200 4:3\n'

In [47]:
cont = {}
for i in file:
    
    value = re.search('qid:(\d+)\s+.*', i).group(1)

    if value in cont:
        cont[value] += 1
    else:
        cont[value] = 1

Sorting by counts

In [48]:
sorted(cont.items(), key=lambda x: x[1], reverse=True)[:5]

[('14900', 36), ('14895', 36), ('14907', 36), ('14930', 36), ('14944', 36)]

Sorting by numerical key

In [39]:
sorted(cont.items(), key=lambda x: int(x[0]), reverse=True)[:5]

[('18387', 12), ('18386', 15), ('18385', 13), ('18384', 11), ('18383', 12)]

In [54]:
fin.sort_values('match_record_id', ascending=False).groupby('match_record_id')['h_no'].nunique()

match_record_id
1        16
2        16
3        15
4        16
5        16
         ..
18383    12
18384    11
18385    13
18386    15
18387    12
Name: h_no, Length: 15664, dtype: int64

In [41]:
for i in file:
    if '14900' in i:
        print(i)

13 qid:14900 0:8 1:53 2:480 3:1400 4:2

13 qid:14900 0:8 1:53 2:480 3:1400 4:2

17 qid:14900 0:7 1:54 2:506 3:1400 4:2

17 qid:14900 0:7 1:54 2:506 3:1400 4:2

16 qid:14900 0:6 1:52 2:432 3:1400 4:2

16 qid:14900 0:6 1:52 2:432 3:1400 4:2

15 qid:14900 0:6 1:55 2:508 3:1400 4:2

15 qid:14900 0:6 1:55 2:508 3:1400 4:2

3 qid:14900 0:5 1:56 2:484 3:1400 4:2

3 qid:14900 0:5 1:56 2:484 3:1400 4:2

10 qid:14900 0:5 1:54 2:472 3:1400 4:2

10 qid:14900 0:5 1:54 2:472 3:1400 4:2

12 qid:14900 0:5 1:52 2:454 3:1400 4:2

12 qid:14900 0:5 1:52 2:454 3:1400 4:2

9 qid:14900 0:5 1:52 2:440 3:1400 4:2

9 qid:14900 0:5 1:52 2:440 3:1400 4:2

14 qid:14900 0:5 1:52 2:450 3:1400 4:2

14 qid:14900 0:5 1:52 2:450 3:1400 4:2

8 qid:14900 0:5 1:53 2:482 3:1400 4:2

8 qid:14900 0:5 1:53 2:482 3:1400 4:2

11 qid:14900 0:5 1:54 2:430 3:1400 4:2

11 qid:14900 0:5 1:54 2:430 3:1400 4:2

5 qid:14900 0:4 1:53 2:438 3:1400 4:2

5 qid:14900 0:4 1:53 2:438 3:1400 4:2

4 qid:14900 0:4 1:55 2:488 3:1400 4:2

4 qid:14900 0:4 1:55 2:488 3:1400 4:2

2 qid:14900 0:4 1:53 2:438 3:1400 4:2

2 qid:14900 0:4 1:53 2:438 3:1400 4:2

6 qid:14900 0:4 1:55 2:522 3:1400 4:2

6 qid:14900 0:4 1:55 2:522 3:1400 4:2

7 qid:14900 0:4 1:53 2:488 3:1400 4:2

7 qid:14900 0:4 1:53 2:488 3:1400 4:2

18 qid:14900 0:4 1:52 2:486 3:1400 4:2

18 qid:14900 0:4 1:52 2:486 3:1400 4:2

1 qid:14900 0:4 1:52 2:452 3:1400 4:2

1 qid:14900 0:4 1:52 2:452 3:1400 4:2

## Analyzing csv

In [1]:
import os
os.chdir('/home/shivam13juna/Documents/learn/allRank/')

import re
import pandas as pd
from sklearn.datasets import dump_svmlight_file

pd.options.display.max_columns = 500
pd.options.display.max_rows = 500



# fin = pd.read_csv(os.path.expanduser('~/Documents/upwork/baran_pony/processed_data.csv'))
train_data = pd.read_csv('~/Documents/upwork/baran_pony/tmp/train_data.csv')
test_data = pd.read_csv('~/Documents/upwork/baran_pony/tmp/test_data.csv')

In [2]:
train_data['checkr'] = train_data['match_record_id']
test_data['checkr'] = test_data['match_record_id']


train_data.drop_duplicates(['match_record_id', 'horse_name', 'h_no'], inplace=True)
test_data.drop_duplicates(['match_record_id', 'horse_name', 'h_no'], inplace=True)

In [3]:
train_data.sort_values('match_record_id', inplace=True)
test_data.sort_values('match_record_id', inplace=True)

In [4]:
print("Shape of train data: ", train_data.shape)
print("Shape of test data: ", test_data.shape, end='\n\n')
print("No of unique matches in train data: ", train_data['match_record_id'].nunique())
print("No of unique matches in test data: ", test_data['match_record_id'].nunique())

Shape of train data:  (143126, 36)
Shape of test data:  (44317, 32)

No of unique matches in train data:  10356
No of unique matches in test data:  3706

In [5]:
train_data['rank'] = train_data['place'].apply(lambda x: 18 - x)
test_data['rank'] = test_data['place'].apply(lambda x: 18 - x)

In [8]:
feature_list = ['h_age', 'jockey_wt', 'horse_wt', 'race_length', 'track', 'odds_tan', 'odds_fuku', 'checkr']

train_x = train_data[feature_list]
train_y = train_data['rank']

test_x = test_data[feature_list]
test_y = test_data['rank']

dump_svmlight_file(X=train_x, y=train_y, f='allrank/pony_data/train.txt', query_id = train_data['match_record_id'], zero_based=True)
print("Dumped train data to file")
dump_svmlight_file(X=test_x, y=test_y, f='allrank/pony_data/vali.txt', query_id = test_data['match_record_id'], zero_based=True)
print("Dumped test data to file")

import shutil
shutil.copy('allrank/pony_data/vali.txt', 'allrank/pony_data/test.txt')
print("Copied vali data to test")

Dumped train data to file
Dumped test data to file
Copied vali data to test

In [9]:
train_x[feature_list].head()

,h_age,jockey_wt,horse_wt,race_length,track,odds_tan,odds_fuku,checkr
0,3,56.0,462,1200,3,2.0,1.1,1
58,3,56.0,486,1200,3,19.2,3.5,1
65,3,56.0,484,1200,3,7.5,1.9,1
73,3,51.0,482,1200,3,26.8,4.7,1
89,3,54.0,428,1200,3,10.8,2.0,1

In [6]:
test_data.loc[(test_data['odds_tan'] == 79.8) & (test_data['odds_fuku'] == 11), 'match_record_id']

2    11579
Name: match_record_id, dtype: int64

In [7]:
test_data.loc[(test_data['odds_tan'] == 32.4) & (test_data['odds_fuku'] == 11), 'match_record_id']

Series([], Name: match_record_id, dtype: int64)

In [8]:
test_data.loc[test_data['match_record_id'] == 11579, ['h_no', 'h_age', 'odds_tan', 'odds_fuku', 'place']].sort_values('place')

       h_no  h_age  odds_tan  odds_fuku  place
35449     7      3      12.9        2.8    1.0
30587    12      3       5.6        1.9    2.0
20910    11      3       9.5        2.2    3.0
32944    15      3      54.5       10.1    5.0
35433     6      3       4.1        1.5    6.0
35462     9      3      63.4        9.9    7.0
29607    10      3       4.1        1.5    9.0
30610     5      3      78.0       10.4   10.0
38171    16      3      42.7        7.7   11.0
35485    14      3     218.2       23.6   12.0
2         4      3      79.8       11.0   13.0
8020      8      3     334.5       43.3   14.0
35475     2      3     286.1       34.6   15.0
29106     1      3      84.8       12.3   16.0

In [9]:
test_data['match_record_id'].nunique()

3706

In [13]:
from sklearn.datasets import load_svmlight_file

x, y, query_ids = load_svmlight_file('allrank/pony_data/test.txt', query_id=True)

In [15]:
print("Shape of x: ", x.shape)
print("Shape of y: ", y.shape)
print("Shape of query_ids: ", query_ids.shape)

Shape of x:  (44317, 8)
Shape of y:  (44317,)
Shape of query_ids:  (44317,)

In [18]:
query_ids[:100]

array([10370, 10370, 10370, 10370, 10370, 10370, 10370, 10370, 10370,
       10370, 10370, 10370, 10370, 10370, 10370, 10370, 10371, 10371,
       10371, 10371, 10371, 10371, 10371, 10371, 10371, 10371, 10371,
       10371, 10371, 10371, 10371, 10371, 10373, 10373, 10373, 10373,
       10373, 10373, 10373, 10373, 10373, 10373, 10373, 10373, 10373,
       10373, 10373, 10374, 10374, 10374, 10374, 10374, 10374, 10374,
       10374, 10374, 10374, 10374, 10374, 10374, 10374, 10374, 10374,
       10375, 10375, 10375, 10375, 10375, 10375, 10375, 10375, 10375,
       10375, 10375, 10376, 10376, 10376, 10376, 10376, 10376, 10376,
       10376, 10376, 10376, 10376, 10376, 10376, 10376, 10376, 10376,
       10377, 10377, 10377, 10377, 10377, 10377, 10377, 10377, 10377,
       10377])

# Inference

In [36]:
import os
os.chdir('/home/shivam13juna/Documents/learn/allRank/')


import torch
import numpy as np
import pandas as pd
import allrank.models.losses as losses


from allrank.config import Config
from torch.utils.data import Dataset
from torch.utils.data import DataLoader
from allrank.models.model import LTRModel
from allrank.models.model import make_model
from allrank.models.metrics import ndcg, dcg
from typing import Tuple, Dict, List, Generator
from torch.utils.data.dataloader import DataLoader
from allrank.data.inf_dataset_loading import *
from allrank.models.model_utils import *
from allrank.inference.inference_utils import __rank_slates



from allrank.utils.python_utils import all_equal
from attr import asdict

In [37]:
topn = 20
test_path = f'pony/results/pony'
# dev = get_torch_device()
dev = torch.device("cpu")

#creating datset and dataloader instances
test_ds = load_libsvm_dataset_role('test', 'allrank/pony_data/', topn )
_, test_dl = create_data_loaders(test_ds, test_ds, num_workers=1, batch_size=test_ds.shape[0])

n_features = test_ds.shape[-1]
assert all_equal([n_features]), f"Last dimensions of datasets must match but got {n_features}"

#loading trained model
config = Config.from_json(f'{test_path}/used_config.json')
model = make_model(n_features=n_features, **asdict(config.model, recurse=False))
model.load_state_dict(load_state_dict_from_file(f'{test_path}/model.pkl', dev))

In [38]:
x_, y_ = __rank_slates(test_dl, model)

with open(f'{test_path}/test_pred.csv', 'w') as f:
        f.write(f'qid,eid,pred_score,true_sorted_by_pred\n')
        for i, (qid, count) in enumerate(test_dl.dataset.query_ids.items()):
            for j in range(count):
                f.write(f'{qid},{int(x_[i, j, -1])},{topn - j},{int(y_[i, j])}\n')
    
#again do the prediction for metrics calculation. I couldn't find a better way to do it reusing *y_ * in the above
# results = compute_metrics(config.metrics, model, test_dl, dev)

In [39]:
x_[0].shape

torch.Size([18, 7])

In [40]:
y_[0].shape

torch.Size([18])

In [6]:
np.set_printoptions(formatter={'all':lambda x: str(x)})

In [41]:
print("X: ", x_[0].numpy())
print("Y: ", y_[0])

X:  [[3.0 56.0 466.0 1200.0 3.0 1.8 1.1]
 [3.0 54.0 452.0 1200.0 3.0 5.3 1.3]
 [3.0 51.0 452.0 1200.0 3.0 8.9 1.6]
 [3.0 56.0 516.0 1200.0 3.0 9.0 2.0]
 [3.0 55.0 488.0 1200.0 3.0 13.6 2.7]
 [3.0 56.0 460.0 1200.0 3.0 15.7 2.1]
 [3.0 56.0 484.0 1200.0 3.0 17.9 3.8]
 [3.0 56.0 446.0 1200.0 3.0 29.5 5.2]
 [3.0 56.0 472.0 1200.0 3.0 41.6 5.7]
 [3.0 56.0 488.0 1200.0 3.0 43.0 6.7]
 [3.0 54.0 414.0 1200.0 3.0 103.0 13.5]
 [3.0 55.0 460.0 1200.0 3.0 108.4 16.2]
 [3.0 53.0 416.0 1200.0 3.0 116.9 14.2]
 [3.0 52.0 438.0 1200.0 3.0 181.1 34.1]
 [3.0 54.0 412.0 1200.0 3.0 337.3 45.2]
 [3.0 53.0 434.0 1200.0 3.0 440.6 69.3]
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0]
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0]]
Y:  tensor([17., 12., 16., 13., 15., 14., 10.,  6.,  8.,  3.,  7., 11.,  4.,  9.,
         2.,  5., -1., -1.])

In [54]:
count = 0
net = 0

for i in y_:
    a = np.array(i)
    if a[0] == 17 or a[1] == 17 or a[2] == 17:
        count += 1
        net += 1
    else:
        net += 1
print("Accuracy: ", count/net, count, net)

Accuracy:  0.5833783054506206 2162 3706

In [56]:
import joblib
import pandas as pd
import seaborn as sns
import xgboost as xgb
import matplotlib.pyplot as plt


from lib import sorter

from xgboost import DMatrix
from functools import reduce
from numerize import numerize
from datetime import datetime, date
from sklearn.model_selection import GroupShuffleSplit



gbm_model = joblib.load('/home/shivam13juna/Documents/upwork/baran_pony/tmp/gbm_model.pkl')
def predict(model, data, feature_list):
    predictions = np.argsort(model.predict(DMatrix(data[feature_list].values)))
    # print('*' * 100)
    # print("we predictions:", predictions)
    # print("they predictions: ", data.iloc[predictions]['place'].values)
    # print("act_place: ", data['place'].values)
    # print('*' * 100)
    return data.iloc[predictions]['place'].values



def find_accuracy(output):
    try:
        count1 = 0
        count2 = 0
        count3 = 0
        out = 0
        for i in output:
            if len(i) < 3:
                continue
            try:
#                 if i[0] == 1 or i[1] == 1 or i[0] == 2 or i[1] == 2:
                if i[0] == 1 or i[1] == 1 or i[2] == 1:
                    count1+=1
                if i[0] == 1 or i[1] == 1 or i[2] == 1 or i[0] == 2 or i[1] == 2 or i[2] == 2:
                    count2+=1
                if i[0] == 1 or i[1] == 1 or i[2] == 1 or i[0] == 2 or i[1] == 2 or i[2] == 2 or i[0] == 3 or i[1] == 3 or i[2] == 3:
                    count3+=1
                out += 1
            except Exception as e:
                print(i)


        return count1/out, count2/out, count3/out, count1, out
    except:
        print("couldn't process, check data")
        
        
def find_wide(output):
    try:
        count = 0

        out = 0
        for i in output:
            if len(i) < 3:
                continue
            try:
                if (i[0] == 1 and i[1] == 2) or (i[0] == 2 and i[1] == 1) or (i[0] == 2 and i[1] == 3) or (i[0] == 3 and i[1] == 2) or (i[0] == 1 and i[1] == 3) or (i[0] == 3 and i[1] == 1):  
                    count += 1

                out += 1
            except:
                print(i)


        return count/out
    except:
        print("couldn't process, check data")

    
output = test_data.groupby('unq_id').apply(lambda x: predict(gbm_model, x, feature_list)).reset_index().rename(columns={0:'prediction'})
curr_acc = find_accuracy(output['prediction'].values)
# wide_acc = find_wide(output['prediction'].values)
print("Accuracy that one among the predicted top 3 is in rank 1: ", curr_acc[0])
print("Accuracy that one among the predicted top 3 is in rank 1 or 2: ", curr_acc[1])
print("Accuracy that one among the predicted top 3 is in rank 1 or 2 or 3: ", curr_acc[2])
print("count and net are: ", curr_acc[3], curr_acc[4])
# print("Wide Acc: ", wide_acc)

Accuracy that one among the predicted top 3 is in rank 1:  0.5794316644113667
Accuracy that one among the predicted top 3 is in rank 1 or 2:  0.7959404600811908
Accuracy that one among the predicted top 3 is in rank 1 or 2 or 3:  0.8976995940460081
count and net are:  2141 3695

In [8]:
# test_ds = load_libsvm_dataset_role('test', 'allrank/pony_data/', topn )
# _, test_dl = create_data_loaders(test_ds, test_ds, num_workers=1, batch_size=test_ds.shape[0])

for x, y, z in test_dl:
    break

In [9]:
print("x shape: ", x.shape)
print("y shape: ", y.shape)
print("z shape: ", z.shape)

x shape:  torch.Size([3706, 18, 8])
y shape:  torch.Size([3706, 18])
z shape:  torch.Size([3706, 18])

In [ ]:
reranked_X = []
reranked_y = []
model.eval()
# device = get_torch_device()
device = torch.device("cpu")
with torch.no_grad():
    for xb, yb, _ in test_dl:
        X = xb.type(torch.float32).to(device=device)
        y_true = yb.to(device=device)

        input_indices = torch.ones_like(y_true).type(torch.long)
        mask = (y_true == losses.PADDED_Y_VALUE)
        scores = model.score(X, mask, input_indices)

        scores[mask] = float('-inf')

        _, indices = scores.sort(descending=True, dim=-1)
        indices_X = torch.unsqueeze(indices, -1).repeat_interleave(X.shape[-1], -1)
        reranked_X.append(torch.gather(X, dim=1, index=indices_X).cpu())
        reranked_y.append(torch.gather(y_true, dim=1, index=indices).cpu())

combined_X = torch.cat(reranked_X)
combined_y = torch.cat(reranked_y)

In [17]:
value = model.score(x, (y == losses.PADDED_Y_VALUE), torch.ones_like(y).type(torch.long))

In [18]:
value.sort(descending=True, dim=-1)

torch.return_types.sort(
values=tensor([[0.8256, 0.7734, 0.6858,  ..., 0.5553, 0.0019, 0.0019],
        [0.7352, 0.7024, 0.6435,  ..., 0.5243, 0.0022, 0.0022],
        [0.8241, 0.5898, 0.5891,  ..., 0.0022, 0.0022, 0.0022],
        ...,
        [0.6273, 0.6271, 0.6269,  ..., 0.0018, 0.0018, 0.0018],
        [0.6219, 0.6172, 0.6125,  ..., 0.5971, 0.0018, 0.0018],
        [0.6405, 0.6356, 0.6311,  ..., 0.0017, 0.0017, 0.0017]],
       grad_fn=<SortBackward0>),
indices=tensor([[14,  1,  7,  ...,  0, 16, 17],
        [13,  2, 15,  ...,  6, 16, 17],
        [ 5, 13,  1,  ..., 15, 16, 17],
        ...,
        [ 2,  3,  5,  ...,  9,  8,  7],
        [ 5, 10,  4,  ...,  1, 16, 17],
        [ 3,  5,  2,  ..., 15, 16, 17]]))

In [16]:
y[0]

tensor([ 1., 16., 15., 14., 12., 11., 10.,  9.,  8.,  7.,  6.,  5.,  4.,  3.,
        13.,  2., -1., -1.])

In [13]:
x[0].numpy()

array([[3.0, 56.0, 466.0, 1200.0, 3.0, 1.8, 1.1, 10370.0],
       [3.0, 54.0, 412.0, 1200.0, 3.0, 337.3, 45.2, 10370.0],
       [3.0, 56.0, 488.0, 1200.0, 3.0, 43.0, 6.7, 10370.0],
       [3.0, 53.0, 416.0, 1200.0, 3.0, 116.9, 14.2, 10370.0],
       [3.0, 56.0, 446.0, 1200.0, 3.0, 29.5, 5.2, 10370.0],
       [3.0, 54.0, 414.0, 1200.0, 3.0, 103.0, 13.5, 10370.0],
       [3.0, 56.0, 472.0, 1200.0, 3.0, 41.6, 5.7, 10370.0],
       [3.0, 52.0, 438.0, 1200.0, 3.0, 181.1, 34.1, 10370.0],
       [3.0, 56.0, 484.0, 1200.0, 3.0, 17.9, 3.8, 10370.0],
       [3.0, 55.0, 460.0, 1200.0, 3.0, 108.4, 16.2, 10370.0],
       [3.0, 54.0, 452.0, 1200.0, 3.0, 5.3, 1.3, 10370.0],
       [3.0, 56.0, 516.0, 1200.0, 3.0, 9.0, 2.0, 10370.0],
       [3.0, 56.0, 460.0, 1200.0, 3.0, 15.7, 2.1, 10370.0],
       [3.0, 55.0, 488.0, 1200.0, 3.0, 13.6, 2.7, 10370.0],
       [3.0, 53.0, 434.0, 1200.0, 3.0, 440.6, 69.3, 10370.0],
       [3.0, 51.0, 452.0, 1200.0, 3.0, 8.9, 1.6, 10370.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]], dtype=float32)

In [36]:
test_data.loc[(test_data['odds_tan'] == 79.8) & (test_data['odds_fuku'] == 11), 'match_record_id']

2    11579
Name: match_record_id, dtype: int64

In [49]:

test_data.loc[test_data['match_record_id'] == 10383, ['h_no', 'h_age', 'odds_tan', 'odds_fuku', 'place']].sort_values('place')

      h_no  h_age  odds_tan  odds_fuku  place
1346     7      3       2.8        1.4    1.0
1360    16      3       5.0        1.6    2.0
1373     8      3       4.5        1.4    3.0
1386     6      3      14.9        2.9    4.0
1392     2      3     331.3       48.6    5.0
1405    10      3      10.4        2.4    6.0
1410     1      3      69.6       11.2    7.0
1418     4      3      51.9        7.4    8.0
1421    14      3     154.3       18.3    9.0
1424    15      3     157.2       19.1   10.0
1427    11      3       6.2        1.6   11.0
1432     3      3      42.8        7.0   12.0
1433    13      3      37.0        5.9   13.0
1436    12      3      48.3       10.3   14.0
1440     9      3      24.1        5.4   15.0
1448     5      3     308.3       48.6   16.0

In [12]:
def conv_libsvm_to_pandas(svmformat_file):
    # Read to list
    with open(svmformat_file, mode="r") as fp:
        svmformat_list = fp.readlines()

    # For each line we save the key:values to a dict
    pandas_list = []
    for line in svmformat_list:
        line_dict = dict()

        line_split = line.split(' ')
        line_dict["label"] = line_split[0]

        for col in line_split[1:]:
            col = col.rstrip()  # Remove '\n'
            col_split = col.split(':')
            key, value = col_split[0], col_split[1]
            line_dict[key] = value

        pandas_list.append(line_dict)
    return pd.DataFrame(pandas_list)
ano = conv_libsvm_to_pandas('allrank/pony_data/test.txt')

In [14]:
ano.head()

  label    qid   0   1    2     3  4
0     8  18361   8  57  508  1700  3
1     6  18098   7  57  506  1200  2
2     9  18361   8  57  470  1700  3
3     9  18247  11  62  446  2750  2
4    11  17989  10  53  490  1400  2

In [15]:
ano['qid'].nunique()

408

In [7]:
for i, (qid, count) in enumerate(test_dl.dataset.query_ids.items()):
    print("i: ", i, "qid: ", qid, "count: ", count)

i:  0 qid:  18361 count:  13
i:  1 qid:  18098 count:  16
i:  2 qid:  18247 count:  13
i:  3 qid:  17989 count:  13
i:  4 qid:  18179 count:  12
i:  5 qid:  18122 count:  16
i:  6 qid:  18061 count:  16
i:  7 qid:  18277 count:  10
i:  8 qid:  18206 count:  14
i:  9 qid:  18327 count:  16
i:  10 qid:  18386 count:  15
i:  11 qid:  18170 count:  16
i:  12 qid:  18278 count:  16
i:  13 qid:  18073 count:  15
i:  14 qid:  18012 count:  7
i:  15 qid:  18084 count:  16
i:  16 qid:  18301 count:  12
i:  17 qid:  18229 count:  16
i:  18 qid:  18231 count:  16
i:  19 qid:  18086 count:  15
i:  20 qid:  18049 count:  16
i:  21 qid:  18112 count:  11
i:  22 qid:  18180 count:  15
i:  23 qid:  18013 count:  16
i:  24 qid:  18314 count:  12
i:  25 qid:  18192 count:  16
i:  26 qid:  18350 count:  14
i:  27 qid:  18216 count:  9
i:  28 qid:  18181 count:  16
i:  29 qid:  18244 count:  11
i:  30 qid:  18076 count:  12
i:  31 qid:  18292 count:  8
i:  32 qid:  18230 count:  17
i:  33 qid:  18037 count:  9
i:  34 qid:  17991 count:  16
i:  35 qid:  18217 count:  16
i:  36 qid:  18072 count:  16
i:  37 qid:  18015 count:  10
i:  38 qid:  18115 count:  9
i:  39 qid:  18194 count:  16
i:  40 qid:  18001 count:  10
i:  41 qid:  18302 count:  17
i:  42 qid:  18016 count:  9
i:  43 qid:  18338 count:  11
i:  44 qid:  17990 count:  15
i:  45 qid:  18363 count:  16
i:  46 qid:  18242 count:  10
i:  47 qid:  18266 count:  16
i:  48 qid:  18374 count:  16
i:  49 qid:  17980 count:  11
i:  50 qid:  18352 count:  13
i:  51 qid:  18331 count:  6
i:  52 qid:  18026 count:  16
i:  53 qid:  18254 count:  11
i:  54 qid:  18110 count:  12
i:  55 qid:  18326 count:  15
i:  56 qid:  18373 count:  10
i:  57 qid:  18014 count:  18
i:  58 qid:  18002 count:  10
i:  59 qid:  18240 count:  12
i:  60 qid:  18134 count:  12
i:  61 qid:  18048 count:  11
i:  62 qid:  18108 count:  16
i:  63 qid:  18337 count:  12
i:  64 qid:  18193 count:  14
i:  65 qid:  18157 count:  16
i:  66 qid:  18070 count:  13
i:  67 qid:  18159 count:  10
i:  68 qid:  18028 count:  9
i:  69 qid:  18142 count:  16
i:  70 qid:  18156 count:  11
i:  71 qid:  18328 count:  8
i:  72 qid:  18136 count:  10
i:  73 qid:  18038 count:  15
i:  74 qid:  18145 count:  10
i:  75 qid:  18025 count:  15
i:  76 qid:  18362 count:  16
i:  77 qid:  18036 count:  16
i:  78 qid:  18034 count:  16
i:  79 qid:  18382 count:  8
i:  80 qid:  18359 count:  16
i:  81 qid:  18121 count:  12
i:  82 qid:  17988 count:  8
i:  83 qid:  18107 count:  8
i:  84 qid:  18291 count:  15
i:  85 qid:  18074 count:  12
i:  86 qid:  18387 count:  12
i:  87 qid:  18051 count:  12
i:  88 qid:  18228 count:  17
i:  89 qid:  18120 count:  11
i:  90 qid:  18375 count:  7
i:  91 qid:  18062 count:  14
i:  92 qid:  18241 count:  15
i:  93 qid:  18349 count:  13
i:  94 qid:  18218 count:  16
i:  95 qid:  18003 count:  16
i:  96 qid:  18205 count:  10
i:  97 qid:  18288 count:  13
i:  98 qid:  18024 count:  8
i:  99 qid:  18265 count:  10
i:  100 qid:  18227 count:  11
i:  101 qid:  18182 count:  11
i:  102 qid:  18195 count:  16
i:  103 qid:  18050 count:  15
i:  104 qid:  18324 count:  11
i:  105 qid:  18168 count:  11
i:  106 qid:  18311 count:  10
i:  107 qid:  18264 count:  12
i:  108 qid:  18135 count:  14
i:  109 qid:  18310 count:  14
i:  110 qid:  18325 count:  13
i:  111 qid:  18060 count:  11
i:  112 qid:  18238 count:  12
i:  113 qid:  18214 count:  14
i:  114 qid:  18000 count:  16
i:  115 qid:  18063 count:  14
i:  116 qid:  18167 count:  12
i:  117 qid:  18096 count:  14
i:  118 qid:  18144 count:  10
i:  119 qid:  18085 count:  10
i:  120 qid:  18251 count:  12
i:  121 qid:  18299 count:  12
i:  122 qid:  18154 count:  11
i:  123 qid:  18289 count:  14
i:  124 qid:  18385 count:  13
i:  125 qid:  18099 count:  14
i:  126 qid:  18312 count:  16
i:  127 qid:  18109 count:  11
i:  128 qid:  18147 count:  16
i:  129 qid:  18178 count:  15
i:  130 qid:  18171 count:  10
i:  131 qid:  18203 count:  12
i:  132 qid:  18384 count:  11
i:  133 qid:  18011 count:  13
i:  134 qid:  18351 count:  14
i:  135 qid:  18097 count:  10
i:  136 qid:  18225 count:  16
i:  137 qid:  18255 count:  14
i:  138 qid:  18204 count:  14
i:  139 qid:  18023 count:  15
i:  140 qid:  18131 count:  12
i:  141 qid:  18058 count:  14
i:  142 qid:  18094 count:  12
i:  143 qid:  18207 count:  12
i:  144 qid:  18346 count:  12
i:  145 qid:  18169 count:  14
i:  146 qid:  18313 count:  10
i:  147 qid:  18267 count:  14
i:  148 qid:  18158 count:  16
i:  149 qid:  18219 count:  16
i:  150 qid:  18347 count:  11
i:  151 qid:  18276 count:  14
i:  152 qid:  18287 count:  10
i:  153 qid:  17986 count:  9
i:  154 qid:  18143 count:  9
i:  155 qid:  18360 count:  16
i:  156 qid:  18039 count:  16
i:  157 qid:  18111 count:  12
i:  158 qid:  18071 count:  11
i:  159 qid:  18370 count:  11
i:  160 qid:  18082 count:  16
i:  161 qid:  18252 count:  10
i:  162 qid:  18275 count:  12
i:  163 qid:  17987 count:  16
i:  164 qid:  18239 count:  12
i:  165 qid:  18191 count:  18
i:  166 qid:  18027 count:  10
i:  167 qid:  18339 count:  13
i:  168 qid:  18046 count:  16
i:  169 qid:  18155 count:  13
i:  170 qid:  17999 count:  16
i:  171 qid:  18335 count:  16
i:  172 qid:  18371 count:  13
i:  173 qid:  18303 count:  13
i:  174 qid:  18279 count:  13
i:  175 qid:  18083 count:  13
i:  176 qid:  18215 count:  16
i:  177 qid:  18274 count:  9
i:  178 qid:  17997 count:  14
i:  179 qid:  18183 count:  15
i:  180 qid:  18119 count:  15
i:  181 qid:  18372 count:  13
i:  182 qid:  18383 count:  12
i:  183 qid:  18047 count:  10
i:  184 qid:  18253 count:  11
i:  185 qid:  18348 count:  7
i:  186 qid:  18243 count:  13
i:  187 qid:  18226 count:  14
i:  188 qid:  18190 count:  16
i:  189 qid:  18315 count:  11
i:  190 qid:  18336 count:  10
i:  191 qid:  18087 count:  16
i:  192 qid:  18202 count:  12
i:  193 qid:  18166 count:  14
i:  194 qid:  18010 count:  16
i:  195 qid:  18095 count:  14
i:  196 qid:  18075 count:  17
i:  197 qid:  18323 count:  15
i:  198 qid:  18263 count:  10
i:  199 qid:  18059 count:  12
i:  200 qid:  18123 count:  16
i:  201 qid:  18133 count:  9
i:  202 qid:  18022 count:  12
i:  203 qid:  18118 count:  9
i:  204 qid:  18035 count:  8
i:  205 qid:  18132 count:  8
i:  206 qid:  17998 count:  8
i:  207 qid:  18300 count:  10
i:  208 qid:  18298 count:  12
i:  209 qid:  18354 count:  15
i:  210 qid:  18322 count:  16
i:  211 qid:  18270 count:  15
i:  212 qid:  18185 count:  16
i:  213 qid:  18294 count:  14
i:  214 qid:  18006 count:  15
i:  215 qid:  18209 count:  16
i:  216 qid:  18102 count:  15
i:  217 qid:  18127 count:  13
i:  218 qid:  18343 count:  14
i:  219 qid:  18146 count:  15
i:  220 qid:  17983 count:  18
i:  221 qid:  18211 count:  16
i:  222 qid:  18117 count:  16
i:  223 qid:  18040 count:  14
i:  224 qid:  18091 count:  14
i:  225 qid:  18151 count:  16
i:  226 qid:  18054 count:  12
i:  227 qid:  18126 count:  12
i:  228 qid:  18305 count:  12
i:  229 qid:  18223 count:  18
i:  230 qid:  18233 count:  12
i:  231 qid:  18066 count:  16
i:  232 qid:  18286 count:  14
i:  233 qid:  18282 count:  16
i:  234 qid:  17981 count:  15
i:  235 qid:  18106 count:  16
i:  236 qid:  18318 count:  16
i:  237 qid:  18004 count:  11
i:  238 qid:  18101 count:  14
i:  239 qid:  18161 count:  16
i:  240 qid:  18232 count:  16
i:  241 qid:  18377 count:  13
i:  242 qid:  18330 count:  14
i:  243 qid:  17982 count:  16
i:  244 qid:  18103 count:  14
i:  245 qid:  18173 count:  16
i:  246 qid:  18353 count:  15
i:  247 qid:  18221 count:  16
i:  248 qid:  18078 count:  15
i:  249 qid:  18088 count:  16
i:  250 qid:  18124 count:  16
i:  251 qid:  18307 count:  16
i:  252 qid:  18245 count:  15
i:  253 qid:  18138 count:  16
i:  254 qid:  18153 count:  16
i:  255 qid:  18262 count:  16
i:  256 qid:  18208 count:  16
i:  257 qid:  18290 count:  13
i:  258 qid:  18293 count:  16
i:  259 qid:  18113 count:  13
i:  260 qid:  18365 count:  16
i:  261 qid:  18341 count:  12
i:  262 qid:  18042 count:  12
i:  263 qid:  18306 count:  12
i:  264 qid:  18005 count:  14
i:  265 qid:  18174 count:  16
i:  266 qid:  18077 count:  10
i:  267 qid:  18259 count:  15
i:  268 qid:  18053 count:  9
i:  269 qid:  18018 count:  13
i:  270 qid:  18069 count:  14
i:  271 qid:  18213 count:  12
i:  272 qid:  18052 count:  15
i:  273 qid:  18198 count:  16
i:  274 qid:  18381 count:  12
i:  275 qid:  18137 count:  16
i:  276 qid:  18065 count:  10
i:  277 qid:  18295 count:  16
i:  278 qid:  18378 count:  14
i:  279 qid:  18379 count:  16
i:  280 qid:  18064 count:  11
i:  281 qid:  18271 count:  13
i:  282 qid:  18007 count:  10
i:  283 qid:  18250 count:  10
i:  284 qid:  17985 count:  16
i:  285 qid:  18186 count:  16
i:  286 qid:  17993 count:  11
i:  287 qid:  18269 count:  14
i:  288 qid:  18175 count:  15
i:  289 qid:  18055 count:  11
i:  290 qid:  18283 count:  16
i:  291 qid:  18057 count:  14
i:  292 qid:  18125 count:  12
i:  293 qid:  18364 count:  16
i:  294 qid:  18355 count:  16
i:  295 qid:  18281 count:  15
i:  296 qid:  18105 count:  16
i:  297 qid:  18079 count:  15
i:  298 qid:  18043 count:  15
i:  299 qid:  18189 count:  17
i:  300 qid:  18187 count:  16
i:  301 qid:  18367 count:  16
i:  302 qid:  18210 count:  15
i:  303 qid:  18029 count:  15
i:  304 qid:  18030 count:  16
i:  305 qid:  18235 count:  16
i:  306 qid:  18345 count:  14
i:  307 qid:  18257 count:  12
i:  308 qid:  17994 count:  16
i:  309 qid:  18041 count:  16
i:  310 qid:  18163 count:  10
i:  311 qid:  18045 count:  18
i:  312 qid:  18246 count:  15
i:  313 qid:  18258 count:  18
i:  314 qid:  18149 count:  18
i:  315 qid:  18162 count:  12
i:  316 qid:  18093 count:  12
i:  317 qid:  18160 count:  13
i:  318 qid:  18031 count:  17
i:  319 qid:  18234 count:  12
i:  320 qid:  18090 count:  10
i:  321 qid:  18199 count:  9
i:  322 qid:  18342 count:  14
i:  323 qid:  18017 count:  14
i:  324 qid:  18165 count:  11
i:  325 qid:  18319 count:  15
i:  326 qid:  18333 count:  18
i:  327 qid:  18237 count:  9
i:  328 qid:  17992 count:  16
i:  329 qid:  18220 count:  16
i:  330 qid:  18334 count:  18
i:  331 qid:  18019 count:  16
i:  332 qid:  18150 count:  16
i:  333 qid:  18089 count:  14
i:  334 qid:  18197 count:  8
i:  335 qid:  17995 count:  14
i:  336 qid:  18081 count:  11
i:  337 qid:  18222 count:  15
i:  338 qid:  18067 count:  18
i:  339 qid:  18366 count:  15
i:  340 qid:  18201 count:  12
i:  341 qid:  18139 count:  16
i:  342 qid:  18148 count:  16
i:  343 qid:  18130 count:  9
i:  344 qid:  18309 count:  13
i:  345 qid:  18021 count:  16
i:  346 qid:  18358 count:  15
i:  347 qid:  18033 count:  11
i:  348 qid:  18177 count:  16
i:  349 qid:  18114 count:  13
i:  350 qid:  17984 count:  13
i:  351 qid:  18172 count:  9
i:  352 qid:  18317 count:  8
i:  353 qid:  18100 count:  7
i:  354 qid:  17996 count:  9
i:  355 qid:  18184 count:  8
i:  356 qid:  18008 count:  12
i:  357 qid:  18009 count:  16
i:  358 qid:  18280 count:  8
i:  359 qid:  18376 count:  11
i:  360 qid:  18020 count:  9
i:  361 qid:  18196 count:  12
i:  362 qid:  18256 count:  10
i:  363 qid:  18032 count:  13
i:  364 qid:  18044 count:  11
i:  365 qid:  18329 count:  6
i:  366 qid:  18056 count:  9
i:  367 qid:  18268 count:  6
i:  368 qid:  18068 count:  12
i:  369 qid:  18080 count:  9
i:  370 qid:  18092 count:  9
i:  371 qid:  18340 count:  7
i:  372 qid:  18304 count:  11
i:  373 qid:  18104 count:  16
i:  374 qid:  18316 count:  10
i:  375 qid:  18116 count:  12
i:  376 qid:  18128 count:  10
i:  377 qid:  18129 count:  8
i:  378 qid:  18140 count:  16
i:  379 qid:  18141 count:  16
i:  380 qid:  18152 count:  14
i:  381 qid:  18164 count:  8
i:  382 qid:  18176 count:  16
i:  383 qid:  18188 count:  11
i:  384 qid:  18200 count:  8
i:  385 qid:  18212 count:  16
i:  386 qid:  18224 count:  12
i:  387 qid:  18236 count:  8
i:  388 qid:  18248 count:  15
i:  389 qid:  18249 count:  12
i:  390 qid:  18260 count:  17
i:  391 qid:  18261 count:  11
i:  392 qid:  18272 count:  8
i:  393 qid:  18273 count:  7
i:  394 qid:  18284 count:  13
i:  395 qid:  18285 count:  16
i:  396 qid:  18296 count:  8
i:  397 qid:  18297 count:  8
i:  398 qid:  18308 count:  8
i:  399 qid:  18320 count:  11
i:  400 qid:  18321 count:  11
i:  401 qid:  18332 count:  10
i:  402 qid:  18344 count:  13
i:  403 qid:  18356 count:  10
i:  404 qid:  18357 count:  9
i:  405 qid:  18368 count:  12
i:  406 qid:  18369 count:  14
i:  407 qid:  18380 count:  6

In [4]:
pred = pd.read_csv('pony/results/pony/test_pred.csv')

In [5]:
pred.head()

     qid  eid  pred_score  true_sorted_by_pred
0  18361    2          20                   13
1  18361    2          19                   11
2  18361    3          18                    9
3  18361    2          17                   16
4  18361    2          16                    2

In [9]:
pred.groupby('qid')['eid'].nunique()

qid
17980    2
17981    2
17982    2
17983    2
17984    2
        ..
18383    2
18384    2
18385    2
18386    3
18387    3
Name: eid, Length: 408, dtype: int64

In [13]:
indices

[array([0., 0., 0., 0., 0.]), array([0., 0., 0., 0., 0.])]